## 변수
> 값 하나를 저장하고 저장된 값을 가져다 사용할 수 있도록 제공되는 요소
- 메모리에 기억장소가 마련되고 데이터를 저장한다.

In [6]:
a1 = 100
a2 = 11.11
a3 = True
a4 = '문자열'
a5 = 10 + 3j
a6 = 1_000_000_000

print(a1)
print(a2)
print(a3)
print(a4)
print(a5)
print(a6)

100
11.11
True
문자열
(10+3j)
1000000000

 ## 튜플
 - 인덱스 번호(0 부터 시작)를 통해 데이터를 관리한다.
 - 읽기 전용
 - 리스트에 비해 속도가 빠르고 사용량이 적다.

In [7]:
# 튜플 생성
t1 =tuple()
t2 = ()
t3 = (10,20,30,40,50)
t4 = 10,20,30,40,50

print(t1)
print(t2)
print(t3)
print(t4)

()
()
(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50)

In [8]:
# 언패킹
# 튜플이나 리스트가 가지고 있는 값의 수 만큼 변수를 작성해주면 1:1대응으로 값이 들어간다.
a1,a2,a3,a4,a5 = t4
print(a1)
print(a2)
print(a3)
print(a4)
print(a5)

10
20
30
40
50

In [9]:
def test1(a1, a2):
    r1 = a1+a2
    r2 = a1-a2
    r3 = a1*a2
    r4 = a1//a2
    return r1, r2,r3,r4

In [10]:
v1, v2, v3, v4 = test1(10,3)
print(v1)
print(v2)
print(v3)
print(v4)

13
7
30
3

In [11]:
t1 = 10,20,30,40

In [12]:
# 인덱싱. 원하는 데이터를 하나 가져오는 것
# 0부터 1씩 증가하는 인덱스를 사용한다.

print(t1[0])
print(t1[1])
print(t1[2])
print(t1[3])

10
20
30
40

In [13]:
# 슬라잇싱. 원하는 범위의 해당하는 값을 추출하여 새로운 요소를 생성해서 반환
# 2 ~ 5 - 1
print(t1[2:5])

(30, 40)

# 리스트
- 기본적으로는 튜플과 동일하다.
- 추가, 수정, 삭제 등이 가능하다.

In [14]:
list1 = [10,20,30,40,50]

In [15]:
# 추가
print(list1)
list1.append(60)
list1.append(70)

print(list1)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60, 70]

In [16]:
# 다수의 값을 동시에 추가하기
print(list1)
list1.extend([80,90,100])
print(list1)

[10, 20, 30, 40, 50, 60, 70]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [17]:
# 삽입
print(list1)

list1.insert(4, 41)

print(list1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 41, 50, 60, 70, 80, 90, 100]

In [18]:
# 삭제. 인덱스를 통한 삭제
print(list1)

del list1[4]

print(list1)

[10, 20, 30, 40, 41, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [19]:
# 삭제. 값을 통한 삭제.
# 동일한 값이 있을 경우에는 제일 좌측의 값이 삭제
print(list1)
list1.remove(70)
print(list1)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 80, 90, 100]

# 딕셔너리
- 데이터를 이름을 가지고 관리한다.
- 추가, 수정, 삭제 등이 가능하다.

### 관련 함수들
- keys(): key값들을 리스트로 가져오기
- values(): value값들을 리스트로 가져오기
- items(): (key, value) 형태를 리스트로 가져오기
- clear(): 쌍 모두 지우기
- get(): key로 value 얻기
- in: key가 딕셔너리 안에 있는지 조사하기

In [20]:
d1 = {
    'a1': 100,
    'a2': 200,
    10: '안녕하세요'
}

In [21]:
print(d1['a1'])
print(d1['a2'])
print(d1[10])

100
200
안녕하세요

In [24]:
# 추가
d1[a3] = '300'
print(d1)

{'a1': 100, 'a2': 200, 10: '안녕하세요', 30: '300'}

In [26]:
# 수정
d1['a1'] = 400
d1

{'a1': 400, 'a2': 200, 10: 400, 30: '300'}

In [27]:
# 삭제
del d1['a2']
d1

{'a1': 400, 10: 400, 30: '300'}

In [33]:
# 관련함수
# keys
d1 = {
    'a1': 100,
    'a2': 200,
    10: '안녕하세요'
}

list_keys = list(d1.keys())
list_keys

['a1', 'a2', 10]

In [34]:
# values
list_values = list(d1.values())
list_values

[100, 200, '안녕하세요']

In [35]:
# items
list_items = list(d1.items())
list_items

[('a1', 100), ('a2', 200), (10, '안녕하세요')]

In [37]:
# clear
d1.clear()
d1

{}

In [38]:
# get
d1 = {
    'a1': 100,
    'a2': 200,
    10: '안녕하세요'
}

print(d1.get('a1'))
print(d1.get('a2'))
print(d1.get('10'))

100
200
None

In [40]:
# in
print('a1' in d1)
print('a2' in d1)
print(10 in d1)
print('a3' in d1)
print(40 in d1)

True
True
True
False
False